<a href="/healing/music/<%=mood%>">Music</a>
<a href="/healing/quote/<%=mood%>">Read a Quote</a>
<a href="/journals">Read Your Journal</a>
<a href="/journals/new">Write in Your Journal</a>
<a href="/healing/video/<%=mood%>">Video</a>
<a href="/healing/help/<%=mood%>">HELP</a>
<a href="/healing/workout/<%=mood%>">Workout</a>
<a href="/healing/funny/<%=mood%>">Funny</a>