<%- include('../partials/header-partial-bg.ejs') %>


<main>

    <div class="partial-bg">
        <h1>Your Journal</h1>
    </div>

    <div class="journal-wrap">
        <ul class="journal-entry">
            <% journals.forEach(journal => { %>
            <li>
                <a href="/journals/<%=journal._id%>">
                    <%= journal.heading %>
                </a>
                <p><%= journal.createdAt.toLocaleDateString() %></p>
            </li>

            <% }) %>
        </ul>
    </div>

    <div class="container bottom-btn one-btn">
        <a href="/journals/new" type="button" class="btn journal-btn btn-lg btn-block">Create a post</a>
    </div>

</main>


<%- include('../partials/footer.ejs') %>