<%- include('../partials/header-partial-bg.ejs') %>
<main>

    <div class="partial-bg">
        <h1>Your Journal</h1>
    </div>
    <a href="/journals/new">Write</a>
    <ul>
        <% journals.forEach(journal => { %>
        <li>
            <a href="/journals/<%=journal._id%>">
                <%= journal.heading %>
            </a>
            <p><%= journal.createdAt.toLocaleDateString() %></p>
        </li>

        <% }) %>
    </ul>

</main>

<%- include('../partials/footer.ejs') %>